/* General */

body[data-timezone="ET"] [data-timezone="PT"],
body[data-timezone="PT"] [data-timezone="ET"],
body[data-timezone="ET"] [data-timezonesep],
body[data-timezone="PT"] [data-timezonesep] {
	display: none;
}

:root,
body {
	--font-scale-mobile: 1.125;
	--font-scale-tablet: 1.125;
	--font-scale-desktop: 1.125;
	--border-radius: 0;
	--shadow: 0;
	--background-lines: repeating-linear-gradient(
		120deg,
		transparent,
		transparent 12px,
		var(--color-border) 12px,
		var(--color-border) 24px
	);
	--button-font-weight: var(--heading-font-weight);
}

.nav-after-header {
	--menu-font-weight: var(--heading-font-weight);
}

.button:not(.button-link) {
	--button-text-transform: uppercase;
}

.breadcrumb {
	text-align: center;
}

.has-standard-content {
	--content-max-width: 70ch;
}

.pm-notice {
	display: flex;
	padding: var(--spacing-xxxs) var(--spacing-sm) var(--spacing-xxxs) 0;
	background: white;
	border: var(--border);
	border-left: 0;
}

.pm-notice.error {
	background: var(--color-primary);
	color: white;
}
.pm-notice.error::before {
	background: var(--color-primary-dark);
}

.pm-notice::before {
	display: block;
	width: 5px;
	margin-block: calc((var(--spacing-xxxs) + 1px) * -1);
	margin-right: var(--spacing-xs);
	background: var(--color-primary);
	content: "";
}

/* Archives & Singular */

.pm-teams {
	--list-style-type: none;
	--list-margin: 0 0 var(--spacing-xxl);
	margin-bottom: var(--spacing-xxl);
}

.pm-team__link {
	--link-color: var(--color-body);
	--link-color-hover: var(--color-body);
	--link-text-decoration: none;
	--link-text-decoration-hover: none;
	--link-filter-hover: brightness(.95);
	display: flex;
	align-items: center;
	gap: var(--spacing-xs);
	font-size: var(--font-size-xs);
	font-weight: var(--body-font-weight-bold);
	border-radius: 0 3px 3px 0;
}

.pm-team__link[data-code]::before {
	display: grid;
	place-items: center;
	background-color: var(--team-color);
	color: white;
	aspect-ratio: 1/1;
	content: attr(data-code);
}

.pm-team__name {
	display: none;
}

@media only screen and (max-width: 599px) {
	.pm-teams {
		display: grid;
		gap: var(--spacing-xs);
		grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
	}

	.pm-team__link[data-code]::before {
		width: 100%;
		height: 100%;
		font-size: 13px;
	}

	.pm-team__link {
		margin: 0;
	}
}

@media only screen and (min-width: 600px) {
	.pm-teams {
		columns: 4 150px;
		column-gap: var(--spacing-sm);
	}

	.pm-team {
		overflow: hidden; /* fixes columns overflowing on chrome */
	}

	.pm-team__link {
		margin: 0 0 var(--spacing-sm);
		padding: 0 var(--spacing-sm) 0 0;
		background: var(--color-alt);
	}

	.pm-team__link[data-code]::before {
		width: 32px;
		height: 32px;
		font-size: 10px;
	}

	.pm-team__name {
		display: block;
	}
}

.pm-prediction__list {
	--list-style-type: none;
	--list-margin: 0;
	display: table;
	align-self: start; /* when a flex-item via .entry-wrap */
	font-size: var(--font-size-sm);
}

.pm-prediction__item {
	display: table-row;
}

.pm-prediction__item > * {
	display: table-cell;
}

/* Archives */

.archive-title {
	display: grid;
	gap: .4em;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	margin-inline: calc(var(--side-spacing) * -1);
	margin-bottom: var(--spacing-xs);
	text-align: center;
}

.archive-title::before,
.archive-title::after {
	background: var(--background-lines);
	background-size: 100% 1.1cap;
	background-repeat: repeat-x;
	background-position: 50%;
	content: "";
}

.taxonomy-archive-description[data-code]::before {
	display: grid;
	place-items: center;
	width: 64px;
	height: 64px;
	margin: 0 auto var(--spacing-sm);
	font-size: var(--font-size-lg);
	font-weight: var(--body-font-weight-bold);
	background-color: var(--team-color);
	color: white;
	border: 2px solid white;
	outline: 3px solid var(--team-color);
	border-radius: 100vw;
	content: attr(data-code);
}

.tax-league .entry-archive,
.tax-season .entry-archive,
.tax-matchup_tag .entry-archive,
.pm-matchups .entry-grid,
.author .entry-archive,
.search-results .entry-archive {
	--heading-margin-bottom: var(--spacing-sm);
	display: grid;
	gap: max(2vw, var(--spacing-md));
	grid-template-columns: auto 1fr;
}

.tax-league .entry-archive .entry-wrap,
.tax-season .entry-archive .entry-wrap,
.tax-matchup_tag .entry-archive .entry-wrap,
.pm-matchups .entry-grid .entry-wrap,
.author .entry-archive .entry-wrap,
.search-results .entry-archive .entry-wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: .5em 1em;
	align-items: center;

	.entry-title {
		display: flex;
		align-items: center;
		margin: 0;
		order: 1;
		flex: 1 0 auto;
	}

	.entry-title::after {
		display: block;
		width: auto;
		height: 1px;
		margin-left: 1em;
		background: var(--color-border);
		flex-grow: 1;
		content: '';
	}

	.entry-custom-content {
		flex: 1 0 100%;
		margin-bottom: 0;
		font-size: var(--font-size-sm);
		order: 3;
	}

	.entry-excerpt {
		margin: 0;
		order: 4;
		flex-basis: 100%;
	}

	.entry-more {
		margin: 0;
		padding: 0;
		order: 2;
		flex-basis: auto;
	}

	.entry-more-link {
		margin: 0;
		white-space: nowrap;
	}

	.pm-prediction__list {
		margin-bottom: var(--spacing-xl);
		padding: var(--spacing-md);
		background: var(--color-alt);
		border-bottom: 3px solid var(--color-primary);
		order: 5;
	}
}

.pm-matchup__date {
	margin-top: .2em;
	text-transform: uppercase;
	letter-spacing: -.5px;
}

.pm-matchup__day,
.pm-matchup__time {
	display: block;
	text-align: end;
	padding-right: max(2vw, var(--spacing-md));
	border-right: 2px solid var(--color-body);
}

.pm-matchup__day {
	font-size: var(--font-size-sm);
	font-weight: var(--body-font-weight-bold);
}

.pm-matchup__time {
	font-size: var(--font-size-xs);
}

.entry-custom-content > .pm-update {
	margin-bottom: 0;
	font-size: var(--font-size-xs);
}

.archive-pagination {
	position: relative;
	margin-bottom: var(--spacing-xxxl);
}

.archive-pagination::after {
	display: block;
	width: 100%;
	height: 24px;
	position: absolute;
	top: 100%;
	background: repeating-linear-gradient(
		120deg,
		transparent,
		transparent 12px,
		var(--color-border) 12px,
		var(--color-border) 24px
	);
	content: "";
}

/* Singular */

.single-matchup .entry-excerpt-single {
	--entry-excerpt-margin-bottom: var(--spacing-md);
}

.entry-title-team:first-child {
	text-align: end;
}

.entry-title-team:last-child {
	text-align: start;
}

.entry-title-team__link {
	--link-color: var(--color-heading);
	--link-color-hover: var(--color-heading);
	--link-text-decoration: none;
	--link-text-decoration-hover: none;
	--link-filter-hover: brightness(.95);
	display: flex;
	font-size: var(--font-size-xxl);
	white-space: nowrap;
}

.entry-title-team__name {
	display: grid;
	place-items: center;
	height: 100%;
	padding: 0 var(--spacing-sm);
	background-color: white;
}

.entry-title-team__link[data-code]:first-of-type::before,
.entry-title-team__link[data-code]:first-of-type::after,
.entry-title-team__link[data-code]:last-of-type::before {
	display: grid;
	place-items: center;
	width: 40px;
	height: 40px;
	font-size: 14px;
	background-color: var(--team-color);
	color: white;
	content: attr(data-code);
}

.entry-title__vs {
	display: grid;
	place-items: center;
	font-size: var(--font-size-md);
}

@media only screen and (max-width: 599px) {
	.single-matchup .entry-title-single {
		--entry-title-single-margin-bottom: var(--spacing-md);
		display: grid;
		gap: var(--spacing-xs);
		grid-template-columns: 1fr;
	}

	.entry-title-team__link[data-code]:first-of-type::after {
		display: none;
	}

	.entry-title__vs {
		max-width: 40px;
	}
}

@media only screen and (min-width: 600px) {
	.single-matchup .entry-title-single {
		--entry-title-single-margin-bottom: var(--spacing-sm);
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		background: var(--background-lines);
		background-size: 100% 1.1cap;
		background-repeat: repeat-x;
		background-position: 50%;
	}

	.entry-title-team__link[data-code]:first-of-type::before {
		display: none;
	}

	.entry-title-team__link[data-code]:first-of-type {
		justify-content: end;
	}

	.entry-title-team__link[data-code]:last-of-type {
		justify-content: start;
	}

	.entry-title__vs {
		padding: 0 var(--spacing-md);
		background-color: white;
	}

	.entry-wrap-single > .pm-update {
		text-align: center;
	}
}

.entry-wrap-single > .pm-update {
	margin-bottom: var(--spacing-lg);
	font-size: var(--font-size-sm);
}

.entry-meta-before-content {
	--entry-meta-margin: 0 0 var(--spacing-md);
}

.entry-terms.entry-terms-matchup_tag {
	display: flex;
	flex-wrap: wrap;
	gap: var(--spacing-xxxs);
}

.entry-terms-matchup_tag a {
	--link-text-decoration: none;
	--link-text-decoration-hover: none;
	margin: 0;
	padding: var(--spacing-xxxs) var(--spacing-xs);
	font-size: var(--font-size-xs);
	line-height: var(--line-height-sm);
	background: var(--color-alt);
	color: var(--color-body);
	text-decoration: none;
	border-radius: var(--button-border-radius, var(--border-radius));
}

.entry-terms-matchup_tag a::before {
	content: "#";
}

.entry-terms-matchup_tag a:hover,
.entry-terms-matchup_tag a:focus {
	background: var(--color-primary-dark);
	color: white;
}

.pm-jumps {
	--list-style-type: none;
	--list-margin: 0 0 var(--spacing-lg);
	--list-item-margin: 0;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	position: sticky;
	top: var(--body-top);
	background-color: var(--color-header);
	border-bottom: 3px solid var(--color-primary);
	overflow-x: auto;
	z-index: 9;
}

@media only screen and (max-width: 599px) {
	.pm-jumps {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr auto;
		margin-inline: calc(var(--side-spacing) * -1);
	}

	.pm-jumps::after {
		display: grid;
		place-items: center;
		width: 40px;
		height: 100%;
		position: sticky;
		right: 0;
		margin-top: -.1em;
		background: #18193699;
		color: white;
		content: " ↔ ";
	}
}

.pm-jump__link {
	--link-color: var(--color-white);
	--link-color-hover: var(--color-primary);
	--link-text-decoration: none;
	--link-text-decoration-hover: none;
	display: block;
	padding: var(--spacing-sm) var(--spacing-sm);
	font-size: 12px;
	font-weight: var(--body-font-weight-bold);
	text-align: center;
	text-transform: uppercase;
	line-height: 1;
	white-space: nowrap;
}

.pm-jump__link:hover,
.pm-jump__link:focus {
	background-color: rgba(0, 0, 0, 0.025);
}

.entry-excerpt-single {
	--entry-excerpt-margin-bottom: var(--spacing-md);
}

.entry-content-single > h2 {
	position: relative;
	display: grid;
	gap: .4em;
	grid-template-columns: auto 1fr;
	align-items: center;
	margin-bottom: var(--spacing-lg);
}

.entry-content-single > h2::before {
	display: block;
	width: 48px;
	height: 6px;
	position: absolute;
	top: 100%;
	background: var(--color-primary);
	content: "";
}

.entry-content-single > h2::after {
	height: 1.1cap;
	background: var(--background-lines);
	content: "";
}

.pm-vote {
	--heading-color: white;
	margin-bottom: var(--spacing-lg);
	padding: var(--spacing-xl);
	text-align: center;
	background-color: var(--color-header);
	color: white;
}

.pm-vote__form {
	--button-width: 100%;
	display: grid;
	gap: var(--spacing-md);
	place-items: center;
	grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
	max-width: var(--breakpoint-xs);
	margin-inline: auto;

	.button {
		position: relative;
	}

	.button.selected::after {
		display: inline-block;
		width: auto;
		position: absolute;
		top: calc(100% - var(--spacing-xxs));
		left: 50%;
		transform: translateX(-50%);
		padding: var(--spacing-xxxs) var(--spacing-xs);
		font-size: 60%;
		font-weight: var(--body-font-weight-bold);
		line-height: 1;
		text-transform: uppercase;
		background-color: white;
		color: var(--color-header);
		border-radius: 10rem;
		content: "Your Vote";
	}
}

.pm-prediction {
	margin-bottom: var(--spacing-xl);
	padding: var(--spacing-lg);
	background: var(--color-alt);
	border-bottom: 6px solid var(--color-primary);

	.pm-prediction__list {
		--list-margin: 0 0 var(--spacing-md);
		padding-bottom: var(--spacing-md);
		font-size: var(--font-size-md);
		border-bottom: 3px solid rgba(0, 0, 0, .025);
	}
}

.pm-prediction__item strong {
	padding-right: var(--spacing-sm);
}

.pm-prediction__item:not(:last-child) strong {
	padding-bottom: var(--spacing-xxs);
}

.pm-odds:has(.pm-toggle__input:not(:checked)) .is-not-top {
	display: none;
}

.pm-odds {
	--table-margin: 0 0 var(--spacing-lg);
}

/* .pm-odds thead {
	position: sticky;
	top: var(--body-top);
} */

.pm-odds thead th {
	background-color: rgba(0,0,0,0.025);
}

.pm-odds th:first-child,
.pm-odds td:first-child {
	width: 50%;
}

.pm-odds th:not(:first-child),
.pm-odds td:not(:first-child) {
	text-align: center;
}

.pm-toggle_label {
	display: inline-flex;
	gap: var(--spacing-xs);
	align-items: center;
	margin: 0;
	cursor: pointer;
}

.pm-toggle__slider {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
	margin: 0;
	padding: 0;
	background-color: var(--toggle-bg, rgba(0, 0, 0, 0.25));
	border-radius: 20px;
	transition: var(--transition);
}

.pm-toggle__input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.pm-toggle__slider::after {
	position: absolute;
	width: 18px;
	height: 18px;
	border-radius: 20px;
	background-color: white;
	top: 1px;
	left: var(--toggle-left, 1px);
	right: var(--toggle-right, unset);
	transition: all 0.3s;
	content: "";
}

.pm-toggle__input:checked + .pm-toggle__slider {
	--toggle-left: 'unset';
	--toggle-right: 1px;
	--toggle-bg: var(--color-success);
}

.pm-results {
	--heading-margin-bottom: var(--spacing-xs);
	--entry-title-font-size: var(--font-size-lg);
	display: grid;
	gap: var(--spacing-xl);
	list-style-type: none;
	margin: 0;
}

.pm-result {
	margin: 0;
}

.pm-result__meta {
	--link-color: var(--color-body);
	margin-bottom: var(--spacing-xxxs);
	font-size: var(--font-size-sm);
	opacity: 0.6;
}

.pm-sources {
	--heading-margin-bottom: var(--spacing-xs);
	--entry-title-font-size: var(--font-size-lg);
	display: grid;
	gap: var(--spacing-xxl);
	list-style-type: none;
	margin: 0 0 var(--spacing-xxl);
}

.pm-source {
	margin: 0;
}

.pm-source__image {
	position: relative;
	float: right;
	width: clamp(80px, 33.3333%, 200px);
	margin: 0 0 var(--spacing-sm) var(--spacing-sm);
	aspect-ratio: 16/9;
	background: var(--color-alt);
	overflow: hidden;
}

.pm-source__image-bg {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1;
	filter: blur(6px) brightness(150%);
}

.pm-source__image-img {
	position: relative;
	object-fit: contain;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.pm-source__meta {
	--link-color: var(--color-body);
	margin-bottom: var(--spacing-xs);
	color: var(--color-body);
	font-size: var(--font-size-sm);
	opacity: 0.6;
}

.pm-entities {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	gap: .25em;
	margin: 0;
}

.pm-entity {
	margin: 0;
	padding: var(--spacing-xxxs) var(--spacing-xs);
	font-size: var(--font-size-xs);
	background: var(--color-alt);
	color: var(--color-body);
	text-decoration: none;
}

.pm-insight {
	margin: 0 0 var(--row-gap);
	padding: 0;
	background: var(--color-white);
	color: var(--color-body);
	border: var(--border);
}

.pm-insight__summary {
	position: sticky;
	top: var(--body-top);
	min-height: 2rem;
	margin: 0;
	padding: var(--spacing-xs) var(--spacing-md);
	background: white;
	border-bottom: var(--border);
	cursor: pointer;
	z-index: 1;
}

.pm-insight[open] .pm-insight__summary {
	background: var(--color-alt);
}

.pm-insight__content {
	padding: var(--spacing-md) var(--spacing-lg);
}

/* Plugins */

.rcp_form {
	.rcp_subscription_message {
		display: none;
	}

	.rcp_subscription_fieldset {

		> ul {
			display: grid;
			gap: var(--spacing-md);
			grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		}
	}

	.rcp_subscription_level {
		display: flex;
		flex-direction: column;
		padding: var(--spacing-lg);
		background-color: var(--color-alt);

		label {
			flex: 1;
			display: flex;
			flex-direction: column;
		}

		.button {
			margin-top: auto;
		}

		.rcp_level:checked + label > .button {
			--button-background: var(--color-primary);
			--button-background-hover: var(--color-primary);
			--button-color: white;
		}

		.rcp_level:checked + label > .button::after {
			display: inline-block;
			width: auto;
			position: absolute;
			bottom: calc(100% - var(--spacing-xxs));
			left: 50%;
			transform: translateX(-50%);
			padding: var(--spacing-xxxs) var(--spacing-xs);
			font-size: 60%;
			font-weight: var(--body-font-weight-bold);
			line-height: 1;
			text-transform: uppercase;
			background-color: white;
			color: var(--color-body);
			border: 1px solid rgba(0, 0, 0, .1);
			border-radius: 10rem;
			content: "✔️ Selected";
		}
	}

	.rcp_subscription_level_name {
		display: block;
		margin-bottom: var(--spacing-md);
		font-family: var(--font-family-heading);
		font-weight: var(--heading-font-weight);
		font-size: var(--font-size-md);
	}

	.rcp_separator {
		display: none;
	}

	.rcp_price {
		font-size: var(--font-size-xxl);
	}

	.rcp_level_duration {
		text-transform: lowercase;
	}

	.rcp_level_duration::before {
		content: " / ";
	}

	.rcp_level_description {
		display: block;
		margin-block: var(--spacing-md);
		padding: 0;
		border: 0;
		font-size: var(--font-size-sm);
		font-weight: var(--body-font-weight);
	}

	.rcp_level {
		position: absolute !important;
		clip: rect(0, 0, 0, 0);
		height: 1px;
		width: 1px;
		border: 0;
		overflow: hidden;
	}
}

#rcp_discount_code_wrap {
	width: 100%;
	max-width: var(--breakpoint-xs);
	margin-inline: auto;
	margin-bottom: var(--spacing-xl);
}

.rcp_registration_total:not(:first-child), /* why are there two of these? */
#rcp_gateway_extra_fields,
#rcp_submit_wrap {
	background-color: var(--color-alt);

	> * {
		width: 100%;
		max-width: var(--breakpoint-xs);
		margin-inline: auto;
	}
}

.rcp_registration_total:not(:first-child),
#rcp_gateway_extra_fields {
	padding: var(--spacing-lg);
}

#rcp_submit_wrap {
	padding: 0 var(--spacing-lg) var(--spacing-lg);
	text-align: center;
}

.rcp_registration_total:not(:first-child) {
	border-bottom: 2px solid rgba(0, 0, 0, .025);
}

.rcp_discount_code_field_wrap {
	display: grid;
	gap: var(--spacing-sm);
	grid-template-columns: 1fr auto;
}

.rcp_registration_total_details.rcp-table {
	width: 100%;
	margin: 0;
	border: 0;

	.membership-amount tr {
		display: none;
	}

	tr {
		width: 100%;
	}

	tbody tr {
		margin: 0;
		padding: 0;
		border: 0;
	}

	tbody td {
		margin: 0;
		padding: 0;
		border: 0;
	}

	tfoot td  {
		margin: 0;
		padding: 0;
		border: 0;
	}

	.rcp-total {
		margin: 0;
		padding: 0;
		border: 0;
	}
}

#rcp_gateway_extra_fields {
	label {
		margin-bottom: var(--spacing-xxxs);
	}

	input[type="text"],
	input[type="password"],
	input[type="email"] {
		padding: var(--spacing-sm) var(--spacing-md);
	}
}

#rcp_card_wrap {
	margin-bottom: 0;
}