.askthebot-chat {
	display: flex;
	flex-direction: column;
	margin-bottom: var(--spacing-md);
}

.askthebot-loading {
	display: flex;
	align-items: center;
	gap: 1em;
	margin-bottom: var(--spacing-md);

	img {
		max-width: 64px;
	}
}

.askthebot-loading__text {
	position: relative;
	padding: var(--spacing-sm) var(--spacing-md);
	color: white;
	background: var(--color-accent);
	border-radius: 12px;
}

.askthebot-loading__text::before {
	position: absolute;
	bottom: 12px;
	left: -12px;
	border: 6px solid;
	border-top-color: currentcolor;
	border-right-color: currentcolor;
	border-bottom-color: currentcolor;
	border-left-color: currentcolor;
	border-color: var(--color-accent) var(--color-accent) transparent transparent;
	content: "";
}

.askthebot__message {
	margin-bottom: var(--spacing-md);

	img {
		display: block;
		max-width: 300px;
		margin-block: var(--spacing-md);
	}
}

.askthebot__bot,
.askthebot__user {
	margin-bottom: var(--spacing-lg);
}

.askthebot__user {
	display: inline-block;
	margin-inline-start: auto;
	padding: var(--spacing-xxs) var(--spacing-md);
	background-color: var(--color-alt);
	border-radius: 12px;
}

.askthebot-form {
	position: sticky;
	bottom: 0;
	margin-top: var(--spacing-md);
	padding-block: var(--spacing-md) var(--spacing-xl);
	background: linear-gradient(to bottom, transparent, white var(--spacing-xxl));
}

/* .askthebot-form::before {
	position: absolute;
	bottom: 100%;
	display: block;
	width: 100%;
	height: var(--spacing-xxxl);
	background: linear-gradient(to bottom, transparent, white);
	content: "";
} */