/* General */

body[data-timezone="ET"] [data-timezone="PT"],
body[data-timezone="PT"] [data-timezone="ET"],
body[data-timezone="ET"] [data-timezonesep],
body[data-timezone="PT"] [data-timezonesep] {
	display: none;
}

:root,
body {
	--font-scale-mobile: 1.125;
	--font-scale-tablet: 1.125;
	--font-scale-desktop: 1.125;
	/* --color-gradient-dark: linear-gradient(45deg, var(--color-header) 10%, var(--color-accent) 90%); */
	--border-radius: 0;
	--shadow: 0;
	--background-lines: repeating-linear-gradient(
		120deg,
		transparent,
		transparent 12px,
		var(--color-border) 12px,
		var(--color-border) 24px
	);
	--background-lines-inherit: repeating-linear-gradient(
		120deg,
		transparent,
		transparent 12px,
		currentColor 12px,
		currentColor 24px
	);
	--button-font-weight: var(--heading-font-weight);
	--button-small-padding: .7rem 1rem;
	--avatar-border-radius: 100vw;
	--site-header-background: var(--background-gradient-dark);
	--site-header-wrap-max-width: 100vw;
	--site-header-wrap-width: calc(100% - var(--side-spacing));
	/* --site-header-background: var(--color-gradient-dark); */
}

.site-header::before {
	display: block;
	width: 100%;
	height: 20px;
	background: var(--background-lines-inherit);
	opacity: .2;
	content: "";
}

.site-footer > .wp-block-group:first-child::before {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 20px;
	background: var(--background-lines-inherit);
	opacity: .2;
	content: "";
}

.nav-header {

	.menu-item-button > .menu-item-link.button {
		--menu-font-size: var(--font-size-xs);
	}

	.menu-item:not(.menu-dashboard):not(.menu-item-icon) .menu-item-link-current:not(.button) > span {
		border-bottom: 1px solid currentColor;
	}

	.avatar {
		border: 1px solid white;
	}
}

.menu-dashboard {
	font-size: var(--font-size-sm);
}

@media only screen and (max-width: 799px) {

	.header-right {
		--header-section-display: flex;
		--nav-header-width: auto;
	}

	.nav-header-right {
		.sub-menu,
		.menu-item-has-children > a::after,
		.menu-item:not(.menu-dashboard):not(.menu-item-button):not(.menu-item-last.menu-item-icon) {
			display: none !important;
		}
	}

	.menu-dashboard {
		--menu-item-link-padding: 0;

		.menu-item-link {
			width: 56px;
			font-size: 0;
		}
	}
}

.nav-header,
.nav-after-header {
	--menu-font-weight: var(--heading-font-weight);
	--menu-item-name-filter-hover: none;

	.menu-item:not(.menu-dashboard):not(.menu-item-icon) .menu-item-link:not(.button) {
		--menu-item-link-color-hover: var(--color-primary);
	}
}

.button:not(.button-link) {
	--button-text-transform: uppercase;
}

.breadcrumb {
	text-align: center;
}

.has-standard-content {
	--content-max-width: 70ch;
}

.mai-grid.pm-matchup-list {
	--heading-margin-bottom: var(--spacing-xxxs);
}

.pm-notice {
	position: relative;
	display: var(--pm-notice-display, flex);
	align-items: center;
	padding: var(--spacing-xxxs) var(--spacing-sm);
	color: var(--pm-notice-color, var(--color-body));
	background: var(--pm-notice-background, white);
	border: var(--border);
	border-left: 0;
}

.pm-notice::before {
	display: grid;
	place-items: center;
	width: 1em;
	height: 1em;
	margin: calc(var(--spacing-xxxs) * -1) var(--spacing-xs) calc(var(--spacing-xxxs) * -1) 0;
	background: var(--pm-notice-icon-color, currentColor);
	mask-position: center;
	mask-repeat: no-repeat;
	mask-size: contain;
}

.pm-notice::after {
	position: absolute;
	top: -1px;
	left: 0;
	width: 4px;
	height: calc(100% + 2px);
	background: var(--pm-notice-icon-color, currentColor);
	content: "";
}

.pm-notice.success {
	--pm-notice-icon-color: var(--color-success);
}

.pm-notice.warning {
	--pm-notice-icon-color: orange;
}

.pm-notice.error {
	--pm-notice-icon-color: var(--color-primary);
}

.pm-notice.success::before {
	mask-image: url( 'data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 48c110.532 0 200 89.451 200 200 0 110.532-89.451 200-200 200-110.532 0-200-89.451-200-200 0-110.532 89.451-200 200-200m140.204 130.267l-22.536-22.718c-4.667-4.705-12.265-4.736-16.97-.068L215.346 303.697l-59.792-60.277c-4.667-4.705-12.265-4.736-16.97-.069l-22.719 22.536c-4.705 4.667-4.736 12.265-.068 16.971l90.781 91.516c4.667 4.705 12.265 4.736 16.97.068l172.589-171.204c4.704-4.668 4.734-12.266.067-16.971z"/></svg>' );
	content: "";
}

.pm-notice.warning::before {
	mask-image: url( 'data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Pro 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2024 Fonticons, Inc.--><path d="M256 8C119 8 8 119.1 8 256c0 137 111 248 248 248s248-111 248-248C504 119.1 393 8 256 8zm0 448c-110.5 0-200-89.4-200-200 0-110.5 89.5-200 200-200 110.5 0 200 89.5 200 200 0 110.5-89.4 200-200 200zm42-104c0 23.2-18.8 42-42 42s-42-18.8-42-42 18.8-42 42-42 42 18.8 42 42zm-81.4-211.4l6.8 136c.3 6.4 5.6 11.4 12 11.4h41.2c6.4 0 11.7-5 12-11.4l6.8-136c.3-6.9-5.1-12.6-12-12.6h-54.8c-6.9 0-12.3 5.7-12 12.6z"/></svg>' );
	content: "";
}

.pm-notice::before {
	mask-image: url( 'data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm101.8-262.2L295.6 256l62.2 62.2c4.7 4.7 4.7 12.3 0 17l-22.6 22.6c-4.7 4.7-12.3 4.7-17 0L256 295.6l-62.2 62.2c-4.7 4.7-12.3 4.7-17 0l-22.6-22.6c-4.7-4.7-4.7-12.3 0-17l62.2-62.2-62.2-62.2c-4.7-4.7-4.7-12.3 0-17l22.6-22.6c4.7-4.7 12.3-4.7 17 0l62.2 62.2 62.2-62.2c4.7-4.7 12.3-4.7 17 0l22.6 22.6c4.7 4.7 4.7 12.3 0 17z"/></svg>' );
	content: "";
}

.pm-obfuscated {
	filter: blur(6px);
	opacity: 0.5;
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
}

/* Archives & Singular */

.pm-teams {
	--list-style-type: none;
	--list-margin: 0 0 var(--spacing-xxl);
	--list-item-margin: 0;
	margin-bottom: var(--spacing-xxl);
}

.pm-team__link {
	--link-color: var(--color-body);
	--link-color-hover: var(--color-body);
	--link-text-decoration: none;
	--link-text-decoration-hover: none;
	--link-filter-hover: brightness(.95);
	display: flex;
	align-items: center;
	gap: var(--spacing-xs);
	font-size: var(--font-size-xs);
	font-weight: var(--body-font-weight-bold);
	border-radius: 100vw;
	overflow: hidden;
}

.pm-team__link[data-code]::before {
	display: grid;
	place-items: center;
	background-color: var(--team-color);
	color: white;
	aspect-ratio: 1/1;
	border-radius: 100vw;
	content: attr(data-code);
}

.pm-team__name {
	display: none;
}

@media only screen and (max-width: 599px) {
	.pm-teams {
		display: grid;
		gap: var(--spacing-xs);
		grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
	}

	.pm-team__link[data-code]::before {
		width: 100%;
		height: 100%;
		font-size: 13px;
	}

	.pm-team__link {
		margin: 0;
	}
}

@media only screen and (min-width: 600px) {
	.pm-teams {
		-moz-columns: 4 150px;
		     columns: 4 150px;
		-moz-column-gap: var(--spacing-sm);
		     column-gap: var(--spacing-sm);
	}

	.pm-team {
		overflow: hidden; /* fixes columns overflowing on chrome */
	}

	.pm-team__link {
		margin: 0 0 var(--spacing-sm);
		padding: 0 var(--spacing-sm) 0 0;
		background: var(--color-alt);
	}

	.pm-team__link[data-code]::before {
		width: 32px;
		height: 32px;
		font-size: 10px;
	}

	.pm-team__name {
		display: block;
	}
}

.pm-prediction__list {
	--list-style-type: none;
	--list-margin: 0;
	--list-item-margin: 0;
	display: grid;
	gap: var(--spacing-xxs);
	align-self: start; /* when a flex-item via .entry-wrap */
	font-size: var(--font-size-sm);
}

.pm-prediction__item:not(.label) {
	display: flex;
	gap: var(--spacing-sm);
	align-items: center;

}

.pm-prediction__item.choice::before,
.pm-prediction__item.probability::before,
.pm-prediction__item.spread::before {
	width: 1.2em;
	height: 1.2em;
	background: currentColor;
	-webkit-mask-position: center;
	mask-position: center;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	mask-size: contain;
	content: "";
}

.pm-prediction__item.choice::before {
	-webkit-mask-image: url( 'data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Pro 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2024 Fonticons, Inc.--><path d="M80 160l26.7-53.3L160 80l-53.3-26.7L80 0 53.3 53.3 0 80l53.3 26.7L80 160zm352 128l-26.7 53.3L352 368l53.3 26.7L432 448l26.7-53.3L512 368l-53.3-26.7L432 288zm-208-192l16-32 32-16-32-16-16-32-16 32-32 16 32 16 16 32zm208 96c8.8 0 16-7.2 16-16v-34.1L502 82c13.8-15.2 13.2-38.5-1.3-53.1l-17.7-17.6c-14.5-14.5-37.8-15.1-53-1.4L157.3 256H112c-8.8 0-16 7.2-16 16v39.3l-78.5 70.8-.1 .1C6.7 391.9 .4 405.7 0 420.1c-.4 14.4 5.3 28.6 15.5 38.8l37.5 37.5c9.9 9.9 23.5 15.6 37.5 15.6 22.2 0 35.6-13.4 39.3-17.5L402.8 192h29.2zM94.2 462.4c-.8 .9-4.2 3.2-7.2 .2l-37.5-37.5c-3-3-.7-6.4 .2-7.3L455.5 51.6l4.9 4.9L94.2 462.4z"/></svg>' );
	mask-image: url( 'data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Pro 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2024 Fonticons, Inc.--><path d="M80 160l26.7-53.3L160 80l-53.3-26.7L80 0 53.3 53.3 0 80l53.3 26.7L80 160zm352 128l-26.7 53.3L352 368l53.3 26.7L432 448l26.7-53.3L512 368l-53.3-26.7L432 288zm-208-192l16-32 32-16-32-16-16-32-16 32-32 16 32 16 16 32zm208 96c8.8 0 16-7.2 16-16v-34.1L502 82c13.8-15.2 13.2-38.5-1.3-53.1l-17.7-17.6c-14.5-14.5-37.8-15.1-53-1.4L157.3 256H112c-8.8 0-16 7.2-16 16v39.3l-78.5 70.8-.1 .1C6.7 391.9 .4 405.7 0 420.1c-.4 14.4 5.3 28.6 15.5 38.8l37.5 37.5c9.9 9.9 23.5 15.6 37.5 15.6 22.2 0 35.6-13.4 39.3-17.5L402.8 192h29.2zM94.2 462.4c-.8 .9-4.2 3.2-7.2 .2l-37.5-37.5c-3-3-.7-6.4 .2-7.3L455.5 51.6l4.9 4.9L94.2 462.4z"/></svg>' );
}

.pm-prediction__item.probability::before {
	-webkit-mask-image: url( 'data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Pro 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2024 Fonticons, Inc.--><path d="M384 32H64C28.7 32 0 60.7 0 96v320c0 35.4 28.7 64 64 64h320c35.4 0 64-28.7 64-64V96c0-35.4-28.7-64-64-64zm16 384c0 8.8-7.2 16-16 16H64c-8.8 0-16-7.2-16-16V96c0-8.8 7.2-16 16-16h320c8.8 0 16 7.2 16 16v320zM128 128c-17.7 0-32 14.3-32 32s14.3 32 32 32 32-14.3 32-32-14.3-32-32-32zm96 96c-17.7 0-32 14.3-32 32s14.3 32 32 32 32-14.3 32-32-14.3-32-32-32zm-96 96c-17.7 0-32 14.3-32 32s14.3 32 32 32 32-14.3 32-32-14.3-32-32-32zm192-192c-17.7 0-32 14.3-32 32s14.3 32 32 32 32-14.3 32-32-14.3-32-32-32zm0 192c-17.7 0-32 14.3-32 32s14.3 32 32 32 32-14.3 32-32-14.3-32-32-32z"/></svg>' );
	mask-image: url( 'data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Pro 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2024 Fonticons, Inc.--><path d="M384 32H64C28.7 32 0 60.7 0 96v320c0 35.4 28.7 64 64 64h320c35.4 0 64-28.7 64-64V96c0-35.4-28.7-64-64-64zm16 384c0 8.8-7.2 16-16 16H64c-8.8 0-16-7.2-16-16V96c0-8.8 7.2-16 16-16h320c8.8 0 16 7.2 16 16v320zM128 128c-17.7 0-32 14.3-32 32s14.3 32 32 32 32-14.3 32-32-14.3-32-32-32zm96 96c-17.7 0-32 14.3-32 32s14.3 32 32 32 32-14.3 32-32-14.3-32-32-32zm-96 96c-17.7 0-32 14.3-32 32s14.3 32 32 32 32-14.3 32-32-14.3-32-32-32zm192-192c-17.7 0-32 14.3-32 32s14.3 32 32 32 32-14.3 32-32-14.3-32-32-32zm0 192c-17.7 0-32 14.3-32 32s14.3 32 32 32 32-14.3 32-32-14.3-32-32-32z"/></svg>' );
}

.pm-prediction__item.spread::before {
	-webkit-mask-image: url( 'data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Pro 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2024 Fonticons, Inc.--><path d="M342.2 281.7l-52.4-7.6-23.4-47.5c-2.1-4.3-6.2-6.4-10.3-6.4-4.1 0-8.2 2.1-10.3 6.4l-23.4 47.5-52.4 7.6c-9.4 1.4-13.2 13-6.4 19.6l37.9 37-9 52.2c-1.3 7.5 4.7 13.4 11.3 13.4 1.8 0 3.6-.4 5.3-1.4l46.9-24.7 46.9 24.7c1.7 .9 3.6 1.3 5.3 1.3 6.7 0 12.6-6 11.3-13.4l-9-52.2 37.9-37c6.8-6.6 3.1-18.2-6.3-19.6zM496 0H338.1c-11.2 0-21.7 5.9-27.4 15.5L256 106.7l-54.7-91.1A32 32 0 0 0 173.9 0H16C3.1 0-4.5 14.6 2.9 25.2l114 162.9C84.2 222.5 64 268.9 64 320c0 105.9 86.1 192 192 192s192-86.1 192-192c0-51.1-20.2-97.5-52.9-132L509.1 25.2C516.5 14.6 508.9 0 496 0zM77.5 48h87.3l50.6 84.4c-22.1 4.8-42.7 13.5-61.3 25.1L77.5 48zM400 320c0 79.5-64.5 144-144 144s-144-64.5-144-144 64.5-144 144-144 144 64.5 144 144zm-42.2-162.5c-18.6-11.7-39.2-20.4-61.3-25.1L347.2 48h87.3l-76.7 109.5z"/></svg>' );
	mask-image: url( 'data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Pro 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2024 Fonticons, Inc.--><path d="M342.2 281.7l-52.4-7.6-23.4-47.5c-2.1-4.3-6.2-6.4-10.3-6.4-4.1 0-8.2 2.1-10.3 6.4l-23.4 47.5-52.4 7.6c-9.4 1.4-13.2 13-6.4 19.6l37.9 37-9 52.2c-1.3 7.5 4.7 13.4 11.3 13.4 1.8 0 3.6-.4 5.3-1.4l46.9-24.7 46.9 24.7c1.7 .9 3.6 1.3 5.3 1.3 6.7 0 12.6-6 11.3-13.4l-9-52.2 37.9-37c6.8-6.6 3.1-18.2-6.3-19.6zM496 0H338.1c-11.2 0-21.7 5.9-27.4 15.5L256 106.7l-54.7-91.1A32 32 0 0 0 173.9 0H16C3.1 0-4.5 14.6 2.9 25.2l114 162.9C84.2 222.5 64 268.9 64 320c0 105.9 86.1 192 192 192s192-86.1 192-192c0-51.1-20.2-97.5-52.9-132L509.1 25.2C516.5 14.6 508.9 0 496 0zM77.5 48h87.3l50.6 84.4c-22.1 4.8-42.7 13.5-61.3 25.1L77.5 48zM400 320c0 79.5-64.5 144-144 144s-144-64.5-144-144 64.5-144 144-144 144 64.5 144 144zm-42.2-162.5c-18.6-11.7-39.2-20.4-61.3-25.1L347.2 48h87.3l-76.7 109.5z"/></svg>' );
	/* -webkit-mask-image: url( 'data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Pro 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2024 Fonticons, Inc.--><path d="M259.7 86l49.6 20.7 20.7 49.6a6.7 6.7 0 0 0 11.9 0l20.7-49.6 49.6-20.7a6.7 6.7 0 0 0 0-11.9L362.7 53.3l-20.7-49.6a6.7 6.7 0 0 0 -11.9 0l-20.7 49.6-49.6 20.7a6.7 6.7 0 0 0 0 11.9zm249.4 133.3L469.3 202.7l-16.6-39.7a5.3 5.3 0 0 0 -9.5 0L426.7 202.7 387 219.2a5.3 5.3 0 0 0 0 9.5L426.7 245.3l16.6 39.7a5.3 5.3 0 0 0 9.5 0l16.6-39.7 39.7-16.6a5.3 5.3 0 0 0 0-9.5zM364.3 267.3 259.5 252l-46.9-95.2a22.8 22.8 0 0 0 -20.7-12.8 22.4 22.4 0 0 0 -20.5 12.8l-46.9 95.2L19.7 267.3C.9 270-6.7 293.2 7 306.5L82.9 380.5 64.9 485.1C62.3 500 74.2 512 87.5 512a22.2 22.2 0 0 0 10.7-2.7l93.8-49.4L285.8 509.3a22.9 22.9 0 0 0 33.3-24.2L301.2 380.5l75.9-74C390.7 293.2 383.1 270 364.3 267.3zM249.5 363.8l13.7 79.4-71.2-37.5-71.3 37.5 13.7-79.4L76.6 307.5l79.8-11.6 35.6-72.2 35.6 72.2 79.8 11.6z"/></svg>' ); */
	/* mask-image: url( 'data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Pro 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2024 Fonticons, Inc.--><path d="M259.7 86l49.6 20.7 20.7 49.6a6.7 6.7 0 0 0 11.9 0l20.7-49.6 49.6-20.7a6.7 6.7 0 0 0 0-11.9L362.7 53.3l-20.7-49.6a6.7 6.7 0 0 0 -11.9 0l-20.7 49.6-49.6 20.7a6.7 6.7 0 0 0 0 11.9zm249.4 133.3L469.3 202.7l-16.6-39.7a5.3 5.3 0 0 0 -9.5 0L426.7 202.7 387 219.2a5.3 5.3 0 0 0 0 9.5L426.7 245.3l16.6 39.7a5.3 5.3 0 0 0 9.5 0l16.6-39.7 39.7-16.6a5.3 5.3 0 0 0 0-9.5zM364.3 267.3 259.5 252l-46.9-95.2a22.8 22.8 0 0 0 -20.7-12.8 22.4 22.4 0 0 0 -20.5 12.8l-46.9 95.2L19.7 267.3C.9 270-6.7 293.2 7 306.5L82.9 380.5 64.9 485.1C62.3 500 74.2 512 87.5 512a22.2 22.2 0 0 0 10.7-2.7l93.8-49.4L285.8 509.3a22.9 22.9 0 0 0 33.3-24.2L301.2 380.5l75.9-74C390.7 293.2 383.1 270 364.3 267.3zM249.5 363.8l13.7 79.4-71.2-37.5-71.3 37.5 13.7-79.4L76.6 307.5l79.8-11.6 35.6-72.2 35.6 72.2 79.8 11.6z"/></svg>' ); */
}

/* Archives */

.archive-title {
	display: grid;
	gap: .4em;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	margin-inline: calc(var(--side-spacing) * -1);
	margin-bottom: var(--spacing-xs);
	text-align: center;
}

.archive-title::before,
.archive-title::after {
	background: var(--background-lines);
	background-size: 100% 1.1cap;
	background-repeat: repeat-x;
	background-position: 50%;
	content: "";
}

.taxonomy-archive-description[data-code]::before {
	display: grid;
	place-items: center;
	width: 48px;
	height: 48px;
	margin: 0 auto var(--spacing-xs);
	font-size: var(--font-size-sm);
	font-weight: var(--body-font-weight-bold);
	background-color: var(--team-color);
	color: white;
	border-radius: 100vw;
	content: attr(data-code);
}

.pm-matchup__date {
	text-transform: uppercase;
	letter-spacing: -.5px;
}



@media only screen and (max-width: 599px) {
	.pm-matchup__date {
		display: flex;
		align-items: center;
	}

	.pm-matchup__day,
	.pm-matchup__time {
		font-size: var(--font-size-xs);
	}

	body[data-timezone="ET"] .pm-matchup__time[data-timezone="ET"]::before,
	body[data-timezone="PT"] .pm-matchup__time[data-timezone="PT"]::before {
		display: inline-block;
		margin-inline: .25em;
		content: "@";
	}
}

@media only screen and (min-width: 600px) {

	.tax-league .entry-archive,
	.tax-season .entry-archive,
	.tax-matchup_tag .entry-archive,
	.pm-matchups .entry-grid,
	.author .entry-archive,
	.search-results .entry-archive {
		--heading-margin-bottom: var(--spacing-sm);
		display: grid;
		gap: max(2vw, var(--spacing-md));
		grid-template-columns: auto 1fr;
	}

	.pm-matchup__date {
		margin-top: .2em;
	}

	.pm-matchup__day {
		font-size: var(--font-size-sm);
		font-weight: var(--body-font-weight-bold);
	}

	.pm-matchup__time {
		font-size: var(--font-size-xs);
	}

	.pm-matchup__day,
	.pm-matchup__time {
		display: block;
		text-align: end;
		padding-right: max(2vw, var(--spacing-md));
		font-size: var(--font-size-sm);
		border-right: 2px solid var(--color-body);
	}
}

.tax-league .entry-archive .entry-wrap,
.tax-season .entry-archive .entry-wrap,
.tax-matchup_tag .entry-archive .entry-wrap,
.pm-matchups .entry-grid .entry-wrap,
.author .entry-archive .entry-wrap,
.search-results .entry-archive .entry-wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: .5em 1em;
	align-items: center;

	.entry-title {
		display: flex;
		align-items: center;
		margin: 0;
		order: 1;
		flex: 1 0 auto;
	}

	.entry-title::after {
		display: block;
		width: auto;
		height: 1px;
		margin-left: 1em;
		background: var(--color-border);
		flex-grow: 1;
		content: '';
	}

	.entry-custom-content {
		flex: 1 0 100%;
		margin-bottom: 0;
		font-size: var(--font-size-sm);
		order: 3;
	}

	.entry-excerpt {
		margin: 0;
		order: 4;
		flex-basis: 100%;
	}

	.entry-more {
		margin: 0;
		padding: 0;
		order: 2;
		flex-basis: auto;
	}

	.entry-more-link {
		margin: 0;
		white-space: nowrap;
	}

	.pm-archive-content {
		display: grid;
		gap: var(--spacing-lg) 1em;
		width: 100%;
		padding: var(--spacing-lg);
		background: var(--color-alt);
		border-bottom: 3px solid var(--color-primary);
		order: 5;
	}

	@media only screen and (min-width: 600px) {

		.pm-archive-content:has(.pm-prediction__list):has(.pm-vote-archive) {
			grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
			grid-template-columns: 1fr 2fr;
		}
	}

	.pm-prediction__item.label,
	.pm-vote__heading {
		display: block;
		font-size: .75rem;
		font-weight: var(--body-font-weight-bold);
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	.pm-prediction__item.label,
	.pm-vote__heading {
		margin-bottom: var(--spacing-md);
	}

	.pm-prediction__item:not(.label) {
		font-size: var(--font-size-xs);
	}
}

.entry-custom-content > .pm-update {
	margin-bottom: 0;
	font-size: var(--font-size-xs);
}

.archive-pagination {
	position: relative;
	margin-bottom: var(--spacing-xxxl);
}

.archive-pagination::after {
	display: block;
	width: 100%;
	height: 24px;
	position: absolute;
	top: 100%;
	background: repeating-linear-gradient(
		120deg,
		transparent,
		transparent 12px,
		var(--color-border) 12px,
		var(--color-border) 24px
	);
	content: "";
}

/* Singular */

.pm-title {
	font-size: var(--font-size-xxxxl);
	text-align: center;
}

.single-matchup .entry-excerpt-single {
	--entry-excerpt-margin-bottom: var(--spacing-md);
}

.entry-title-team:first-child {
	text-align: end;
}

.entry-title-team:last-child {
	text-align: start;
}

.entry-title-team__link {
	--link-color: var(--color-heading);
	--link-color-hover: var(--color-heading);
	--link-text-decoration: none;
	--link-text-decoration-hover: none;
	--link-filter-hover: brightness(.95);
	display: flex;
	font-size: var(--font-size-xxl);
	background-color: var(--color-alt);
	border-radius: 100vw;
	white-space: nowrap;
	overflow: hidden;
}

.entry-title-team__name {
	display: grid;
	place-items: center;
	height: 100%;
	padding: 0 var(--spacing-sm);
	font-family: var(--body-font-family);
	font-weight: var(--body-font-weight);
	font-size: var(--font-size-md);
	text-transform: uppercase;
	letter-spacing: .5px;
}

.entry-title-team__link[data-code]:first-of-type::before,
.entry-title-team__link[data-code]:first-of-type::after,
.entry-title-team__link[data-code]:last-of-type::before {
	display: grid;
	place-items: center;
	width: 40px;
	height: 40px;
	font-size: 14px;
	background-color: var(--team-color);
	color: white;
	border-radius: 100vw;
	content: attr(data-code);
}

.entry-title__vs {
	display: grid;
	place-items: center;
	font-size: var(--font-size-md);
}

@media only screen and (max-width: 599px) {
	.single-matchup .entry-title-single {
		--entry-title-single-margin-bottom: var(--spacing-md);
		display: grid;
		gap: var(--spacing-xs);
		grid-template-columns: 1fr;
	}

	.entry-title-team__link[data-code]:first-of-type::after {
		display: none;
	}

	.entry-title__vs {
		max-width: 40px;
	}
}

@media only screen and (min-width: 600px) {
	.single-matchup .entry-title-single {
		--entry-title-single-margin-bottom: var(--spacing-md);
		display: grid;
		grid-template-columns: 1fr auto 1fr;
	}

	.entry-title-team__link[data-code]:first-of-type::before {
		display: none;
	}

	.entry-title-team__link[data-code]:first-of-type {
		justify-content: end;
	}

	.entry-title-team__link[data-code]:last-of-type {
		justify-content: start;
	}

	.entry-title__vs {
		padding: 0 var(--spacing-md);
		/* background-color: white; */
	}

	.entry-wrap-single > .pm-update {
		text-align: center;
	}
}

.entry-wrap-single > .pm-update {
	margin-bottom: var(--spacing-lg);
	font-size: var(--font-size-sm);
}

.entry-meta-before-content {
	--entry-meta-margin: 0 0 var(--spacing-md);
}

.entry-terms.entry-terms-matchup_tag {
	display: flex;
	flex-wrap: wrap;
	gap: var(--spacing-xxxs);
}

.entry-terms-matchup_tag a {
	--link-text-decoration: none;
	--link-text-decoration-hover: none;
	margin: 0;
	padding: var(--spacing-xxxs) var(--spacing-xs);
	font-size: var(--font-size-xs);
	line-height: var(--line-height-sm);
	background: var(--color-alt);
	color: var(--color-body);
	text-decoration: none;
	border-radius: var(--button-border-radius, var(--border-radius));
}

.entry-terms-matchup_tag a::before {
	content: "#";
}

.entry-terms-matchup_tag a:hover,
.entry-terms-matchup_tag a:focus {
	background: var(--color-primary-dark);
	color: white;
}

.nav-dashboard .menu,
.pm-jumps {
	--list-style-type: none;
	--list-margin: 0 0 var(--spacing-lg);
	--list-item-margin: 0;
	background: var(--background-gradient-dark);
	border-bottom: 3px solid var(--color-primary);
}

.nav-dashboard .menu {
	display: flex;
	justify-content: start;
}

.pm-jumps {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	position: sticky;
	top: var(--body-top);
	overflow-x: auto;
	z-index: 9;
}

@media only screen and (max-width: 599px) {
	.pm-jumps {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr auto;
		margin-inline: calc(var(--side-spacing) * -1);
	}

	.pm-jumps::after {
		display: grid;
		place-items: center;
		width: 40px;
		height: 100%;
		position: sticky;
		right: 0;
		margin-top: -.1em;
		background: #18193699;
		color: white;
		content: " ↔ ";
	}
}

@media only screen and (min-width: 600px) {

	.nav-dashboard .menu-item-last {
		margin-left: auto;
	}
}

.nav-dashboard .menu-item-link,
.pm-jump__link {
	--menu-item-link-color: var(--color-white);
	--menu-item-link-color-hover: var(--color-primary);
	--link-color: var(--color-white);
	--link-color-hover: var(--color-primary);
	--link-text-decoration: none;
	--link-text-decoration-hover: none;
	display: block;
	padding: var(--spacing-sm) var(--spacing-sm);
	font-size: 12px;
	font-weight: var(--body-font-weight-bold);
	text-align: center;
	text-transform: uppercase;
	line-height: 1;
	white-space: nowrap;
}

.pm-jump__link:hover,
.pm-jump__link:focus {
	background-color: rgba(0, 0, 0, 0.025);
}

.entry-excerpt-single {
	--entry-excerpt-margin-bottom: var(--spacing-md);
}

.rcp-table-wrapper > h3,
.is-style-line,
.entry-content-single > h2 {
	position: relative;
	display: grid;
	gap: .4em;
	grid-template-columns: auto 1fr;
	align-items: center;
	margin-bottom: var(--spacing-lg);
}

.rcp-table-wrapper > h3::before,
.is-style-line::before,
.entry-content-single > h2::before {
	display: block;
	width: 4ch;
	height: 6px;
	position: absolute;
	top: 100%;
	background: var(--color-primary);
	content: "";
}

.rcp-table-wrapper > h3::after,
.is-style-line::after,
.entry-content-single > h2::after {
	height: 1.1cap;
	background: var(--background-lines);
	content: "";
}

.pm-vote {
	--pm-notice-display: inline-flex;
}

@media only screen and (max-width: 599px) {

	.pm-vote,
	.pm-commentary,
	.pm-prediction {
		margin-inline: calc(var(--side-spacing) * -1);
	}
}

.pm-actions {
	--button-width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
	gap: var(--spacing-lg) var(--spacing-md);
	place-items: center;
	max-width: var(--breakpoint-xs);
}

.pm-action__col {
	position: relative;
	width: 100%;
}

.pm-outcome__col {
	display: grid;
	place-content: center;
	border-radius: 12px;
}

.pm-outcome__status {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	padding: var(--spacing-xxxs) var(--spacing-xs);
	font-size: 12px;
	font-weight: var(--body-font-weight-bold);
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	line-height: 1;
	border-radius: 9px 9px 0 0;
}

.pm-outcome__team,
.pm-outcome__score {
	margin: 0;
	text-align: center;
	line-height: var(--line-height-sm);
}

.button-ajax:disabled {
	opacity: 1 !important;
}

.button-ajax:disabled:has(.pm-loading),
.button-ajax:has(.pm-loading) {
	cursor: wait;

	.button-text {
		opacity: 0;
	}
}

.pm-loading-wrap {
	display: flex;
	align-items: center;
	gap: var(--spacing-xxs);
}

.pm-loading {
	width: auto;
	height: 1em;
	fill: currentColor;
	animation: pmSpin 1s infinite ease-in;
}

.button-ajax,
.pm-vote__button {

	.pm-loading-wrap {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.pm-outcome__prediction,
.pm-vote__prediction {
	animation: pmFadeInDown 100ms linear;
}

.pm-outcome__selected,
.pm-vote__selected {
	animation: pmFadeInUp 100ms linear;
}

.pm-outcome__prediction,
.pm-outcome__selected,
.pm-vote__prediction,
.pm-vote__selected {
	position: relative;
	display: flex;
	align-items: center;
	width: auto;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	padding: var(--spacing-xxxs) var(--spacing-xs);
	font-size: 10px;
	font-weight: var(--body-font-weight-bold);
	line-height: 1;
	text-transform: uppercase;
	white-space: nowrap;
	fill: currentColor;
	border-radius: 100vw;
	animation-fill-mode: forwards;
	animation-duration: 0.5s; /* Adjust for speed */
	animation-timing-function: ease-out;
}

.pm-outcome__prediction,
.pm-vote__prediction {
	background-color: var(--color-accent);
	color: var(--color-white);
}

.pm-outcome__selected,
.pm-vote__selected {
	background-color: lightgreen;
	color: var(--color-header);
}

.pm-outcome__prediction {
	top: calc(100% - var(--spacing-xxxxs));
}

.pm-vote__prediction {
	top: calc(100% - var(--spacing-xxxxs));
}

.pm-outcome__selected {
	bottom: calc(100% - var(--spacing-xxxxs));
}

.pm-vote__selected {
	bottom: calc(100% - var(--spacing-xxxxs));
}

.pm-outcome__prediction::before,
.pm-outcome__selected::before,
.pm-vote__prediction::before,
.pm-vote__selected::before {
	position: absolute;
	left: calc(50% - 6px);
	width: 0;
	height: 0;
	border: 6px solid;
	content: "";
}

.pm-outcome__prediction::before,
.pm-vote__prediction::before {
	bottom: 100%;
	border-color: transparent transparent var(--color-accent) transparent;
}

.pm-outcome__selected::before,
.pm-vote__selected::before {
	top: 100%;
	border-color: lightgreen transparent transparent transparent;
}

.pm-vote-archive {
	--button-color: var(--button-secondary-color);
	--button-color-hover: var(--button-secondary-color-hover, var(--button-secondary-color));
	--button-background: var(--button-secondary-background, var(--color-secondary));
	--button-background-hover: var(--button-secondary-background-hover, var(--color-secondary-dark, var(--color-secondary)));

	.pm-outcome__col {
		border: 2px solid var(--color-heading);
	}

	.pm-outcome__status {
		background-color: var(--color-heading);
		color: white;
	}

	.pm-outcome__content {
		padding: var(--spacing-lg) var(--spacing-xs) var(--spacing-xxs);
	}

	.pm-outcome__team {
		font-weight: var(--body-font-weight-bold);
	}

	.pm-vote__form {
		margin-top: var(--spacing-lg);
	}
}

.pm-vote-single {
	--heading-color: white;
	position: relative;
	margin-bottom: 0;
	padding: var(--spacing-xxl) var(--spacing-xl) var(--spacing-xl);
	text-align: center;
	background: var(--background-gradient-dark);
	color: white;
	border-bottom: 4px solid var(--color-primary);

	.pm-vote__avatar {
		display: block;
		width: 64px;
		height: 64px;
		margin: calc(var(--spacing-sm) * -1) auto var(--spacing-md);
		border: 1px solid white;
		border-radius: 100vw;
	}

	.pm-actions {
		margin-inline: auto;
	}

	.pm-outcome,
	.pm-vote__form {
		margin: var(--spacing-xl) auto;
	}

	.pm-outcome__col {
		border: 1px solid white;
	}

	.pm-outcome__status {
		background-color: white;
		color: var(--color-body);
	}

	.pm-outcome__content {
		padding: var(--spacing-xl) var(--spacing-sm) var(--spacing-sm);
	}

	.pm-outcome__team,
	.pm-outcome__score {
		font-family: var(--heading-font-family);
		font-weight: var(--heading-font-weight);
		text-align: center;
	}

	.pm-outcome__team {
		font-size: var(--font-size-lg);
	}

	.pm-outcome__score {
		font-size: var(--font-size-xxxl);
	}
}

.pm-vote-single::before {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 20px;
	background: var(--background-lines-inherit);
	opacity: .2;
	content: "";
}

.pm-commentarysub {
	padding: var(--spacing-lg);
	background-color: var(--color-alt-dark);
	border-left: 6px solid gold;

	.pm-commentarysub__header {
		display: grid;
		grid-template-columns: auto 1fr;
		align-items: center;
		gap: var(--spacing-xxxxs) var(--spacing-md);
		margin-bottom: var(--spacing-lg);
	}

	.pm-commentarysub__avatar {
		grid-row: 1 / span 2;
		display: block;
		width: 64px;
		height: 64px;
		border-radius: 100vw;
	}

	.pm-commentarysub__heading {
		font-family: var(--heading-font-family);
		font-weight: var(--heading-font-weight);
		font-size: var(--font-size-lg);
	}

	.pm-commentarysub__desc {
		font-size: var(--font-size-sm);
		line-height: var(--line-height-md);
	}

	.pm-commentarysub__form {
		display: flex;
		flex-direction: column;
	}

	.ql-toolbar {
		background-color: var(--color-alt);
	}

	.ql-editor {
		min-height: 12cap;
	}

	.ql-editor ol,
	.ql-editor ul,
	.ql-editor p {
		margin-bottom: var(--spacing-md);
	}

	.pm-commentarysub__textarea {
		background-color: var(--color-white);
	}

	.pm-commentarysub__submit {
		margin-top: var(--spacing-sm);
		margin-left: auto;
		--button-background: var(0, 0, 0, 0.25);
	}

	.mce-toolbar .mce-btn button:hover,
	.mce-toolbar .mce-btn button:focus {
		background-color: inherit;
	}
}

.pm-commentarysub:has(.pm-commentarysub__textarea:placeholder-shown) .pm-commentarysub__submit {
	cursor: not-allowed;
}

.pm-commentary {
	display: grid;
	gap: var(--spacing-sm);
	padding: var(--spacing-lg);
	background: var(--color-alt);
}

.pm-commentary__comment {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: var(--spacing-sm) var(--spacing-md);
	padding: var(--spacing-md);
	font-size: var(--font-size-sm);
	background-color: var(--color-white);
	border-bottom: var(--border);
	border-bottom-width: 2px;
	border-radius: 12px;

	.pm-commentary__avatar {
		display: block;
		width: 64px;
		height: 64px;
		border-radius: 100vw;
	}

	.pm-commentary__heading {
		place-self: center start;
		font-family: var(--heading-font-family);
		font-weight: var(--heading-font-weight);
		font-size: var(--font-size-lg);
	}

	br {
		display: block;
		margin-bottom: 1em;
	}

	br + br {
		display: none;
	}
}

@media only screen and (max-width: 599px) {

	.pm-commentary__content {
		grid-column: 1 / span 2;
	}
}

@media only screen and (min-width: 600px) {
	.pm-commentary__avatar {
		grid-row: 1 / span 2;
	}
}

.pm-prediction {
	margin-bottom: var(--spacing-xl);
	padding: var(--spacing-lg) var(--spacing-lg);
	background: var(--color-alt);
	border-bottom: 4px solid var(--color-primary);

	.pm-prediction__header {
		display: grid;
		gap: var(--spacing-xl);
		align-items: center;
		margin-top: var(--spacing-sm);
		margin-bottom: var(--spacing-xl);
	}

	.pm-prediction__img {
		display: block;
		width: 100%;
		max-width: 160px;
	}

	.pm-prediction__bubble {
		--heading-font-family: monospace;
		--heading-color: var(--color-white);
		--heading-margin-bottom: var(--spacing-sm);
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: var(--spacing-lg);
		color: var(--color-white);
		background-color: var(--color-accent);
		font-family: monospace;
		border-radius: 12px;
	}

	.pm-prediction__bubble::before {
		position: absolute;
		top: auto;
		width: 0;
		height: 0;
		border: 12px solid;
		content: "";
	}

	@media only screen and (max-width: 799px) {

		.pm-prediction__bubble::before {
			bottom: 100%;
			left: 24px;
			border: 12px solid;
			border-color: transparent var(--color-accent) var(--color-accent) transparent;
		}
	}

	@media only screen and (min-width: 800px) {

		.pm-prediction__header {
			grid-template-columns: 160px 1fr;
		}

		.pm-prediction__bubble::before {
			bottom: 12px;
			left: -24px;
			border: 12px solid;
			border-color: var(--color-accent) var(--color-accent) transparent transparent;
		}
	}


	.pm-prediction__list {
		font-size: var(--font-size-md);
	}

	.pm-prediction__item:last-child {
		margin-bottom: 0;
	}
}

.pm-prediction__inner {
	position: relative;
}

.pm-prediction__cta {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;

	h3::before {
		display: block;
		width: 48px;
		height: 48px;
		margin: 0 auto var(--spacing-md);
		background: currentColor;
		-webkit-mask-image: url( 'data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --><path d="M224 412c-15.5 0-28-12.5-28-28v-64c0-15.5 12.5-28 28-28s28 12.5 28 28v64c0 15.5-12.5 28-28 28zm224-172v224c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V240c0-26.5 21.5-48 48-48h32v-48C80 64.5 144.8-.2 224.4 0 304 .2 368 65.8 368 145.4V192h32c26.5 0 48 21.5 48 48zm-320-48h192v-48c0-52.9-43.1-96-96-96s-96 43.1-96 96v48zm272 48H48v224h352V240z"/></svg>' );
		mask-image: url( 'data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --><path d="M224 412c-15.5 0-28-12.5-28-28v-64c0-15.5 12.5-28 28-28s28 12.5 28 28v64c0 15.5-12.5 28-28 28zm224-172v224c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V240c0-26.5 21.5-48 48-48h32v-48C80 64.5 144.8-.2 224.4 0 304 .2 368 65.8 368 145.4V192h32c26.5 0 48 21.5 48 48zm-320-48h192v-48c0-52.9-43.1-96-96-96s-96 43.1-96 96v48zm272 48H48v224h352V240z"/></svg>' );
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
		-webkit-mask-size: contain;
		mask-size: contain;
		content: "";
	}
}

.pm-prediction__cta-inner {
	position: sticky;
	top: var(--body-top);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: var(--spacing-lg) 0 0;
}

.pm-prediction__inner--obfuscated > ul,
.pm-prediction__inner--obfuscated > p,
.pm-prediction__inner--obfuscated > .pm-prediction__fantasy,
.pm-prediction__inner--obfuscated > .pm-datatable {
	filter: blur(6px);
	opacity: 0.5;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.pm-prediction__fantasy {
	margin-block: var(--spacing-lg);
	margin-inline: calc(var(--spacing-lg) * -1);
	padding: var(--spacing-lg);
	background: var(--color-alt-dark);
	border-left: 6px solid gold;

	strong {
		display: block;
		margin-bottom: var(--spacing-xs);
	}
}

.pm-datatable:has(.pm-toggle__input:not(:checked)) .is-not-top {
	display: none;
}

.pm-datatable {
	--table-margin: 0;

	+ .pm-datatable {
		margin-top: var(--spacing-lg);
	}
}

.pm-datatable thead th {
	background-color: rgba(0,0,0,0.025);
}

.pm-datatable tbody {
	font-size: var(--font-size-sm);
}

.pm-datatable th:first-child,
.pm-datatable td:first-child {
	width: 50%;
}

.pm-datatable th:not(:first-child),
.pm-datatable td:not(:first-child) {
	text-align: center;
}

.pm-datatable__average {
	font-weight: bold;
}

.pm-toggle_label {
	display: inline-flex;
	gap: var(--spacing-xs);
	align-items: center;
	margin: 0;
	cursor: pointer;
}

.pm-toggle__slider {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
	margin: 0;
	padding: 0;
	background-color: var(--toggle-bg, rgba(0, 0, 0, 0.25));
	border-radius: 20px;
	transition: var(--transition);
}

.pm-toggle__input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.pm-toggle__slider::after {
	position: absolute;
	width: 18px;
	height: 18px;
	border-radius: 20px;
	background-color: white;
	top: 1px;
	left: var(--toggle-left, 1px);
	right: var(--toggle-right, unset);
	transition: all 0.3s;
	content: "";
}

.pm-toggle__input:checked + .pm-toggle__slider {
	--toggle-left: 'unset';
	--toggle-right: 1px;
	--toggle-bg: var(--color-success);
}

.pm-spreads__th {
	display: flex;
	gap: .5em;
	margin-block: .5em -.75em;
	font-size: .8em;
	font-weight:normal;

	span {
		flex: 1;
		text-align: center;
	}
}

.pm-spreads_odd {
	padding-right: var(--spacing-xxs);
}

.pm-spreads_spread {
	padding-left: var(--spacing-xxs);
}

.pm-results {
	--heading-margin-bottom: var(--spacing-xs);
	--entry-title-font-size: var(--font-size-lg);
	display: grid;
	gap: var(--spacing-xl);
	list-style-type: none;
	margin: 0;
}

.pm-result {
	margin: 0;
}

.pm-result__meta {
	--link-color: var(--color-body);
	margin-bottom: var(--spacing-xxxs);
	font-size: var(--font-size-sm);
	opacity: 0.6;
}

.pm-sources {
	--heading-margin-bottom: var(--spacing-xs);
	--entry-title-font-size: var(--font-size-lg);
	display: grid;
	gap: var(--spacing-xxl);
	list-style-type: none;
	margin: 0 0 var(--spacing-xxl);
}

.pm-source {
	margin: 0;
}

.pm-source__summary {
	margin-bottom: var(--spacing-sm);
}

.pm-source__image {
	position: relative;
	float: right;
	width: clamp(80px, 33.3333%, 200px);
	margin: 0 0 var(--spacing-sm) var(--spacing-sm);
	aspect-ratio: 16/9;
	background: var(--color-alt);
	overflow: hidden;
}

.pm-source__image-bg {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	z-index: 1;
	filter: blur(6px) brightness(150%);
}

.pm-source__image-img {
	position: relative;
	-o-object-fit: contain;
	object-fit: contain;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.pm-source__meta {
	--link-color: var(--color-body);
	margin-bottom: var(--spacing-xs);
	color: var(--color-body);
	font-size: var(--font-size-sm);
	opacity: 0.6;
}

.pm-entities {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	gap: .25em .5em;
	margin: 0;
}

.pm-entity {
	margin: 0;
	font-size: var(--font-size-xs);
	text-decoration: none;
}

.pm-entity::before {
	content: "#";
}

.pm-insight {
	margin: 0 0 var(--row-gap);
	padding: 0;
	background: var(--color-white);
	color: var(--color-body);
	border: var(--border);
}

.pm-insight__summary {
	position: sticky;
	top: var(--body-top);
	min-height: 2rem;
	margin: 0;
	padding: var(--spacing-xs) var(--spacing-md);
	background: white;
	border-bottom: var(--border);
	cursor: pointer;
	z-index: 1;
}

.pm-insight[open] .pm-insight__summary {
	background: var(--color-alt);
}

.pm-insight__content {
	padding: var(--spacing-md) var(--spacing-lg);
}

footer.site-footer {
	position: relative;
	margin-top: var(--spacing-xl);
}

.site-footer::before {
	position: relative;
	display: block;
	width: 200px;
	height: 200px;
	margin: 0 var(--side-spacing) -24px auto;
	background: url( '/wp-content/plugins/mai-asknews/src/img/chad-footer.png' ) no-repeat;
	background-size: contain;
	z-index: 1;
	content: "";
}

/* Leaderboard */

/* .pm-leaderboard__item::marker {
	color: var(--color-body);
} */

.pm-leaderboard__list {
	list-style-type: none;
	margin: 0;
}

.pm-leaderboard__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: .5em;
	margin: 0;
	padding-block: 4px;
	border-bottom: var(--border);
}

.pm-leaderboard__item.bot-user,
.pm-leaderboard__item.current-user {
	padding-inline: 8px;
	border-bottom: 2px solid var(--color-primary);
}

.pm-leaderboard__item.bot-user {
	color: var(--color-white);
	background: var(--background-gradient-dark);
}

.pm-leaderboard__item.current-user {
	background: var(--color-alt);
}

.pm-leaderboard__name {
	font-size: var(--font-size-xs);
}

.pm-leaderboard__score {
	font-size: var(--font-size-sm);
}

/* Stats */

.pm-userstats {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
	gap: var(--spacing-sm);
	margin-bottom: var(--spacing-xl);
}

.pm-userstats__section {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: var(--spacing-sm);
	background-color: var(--color-alt);
}

.pm-userstats__heading {
	font-family: var(--heading-font-family);
	font-weight: var(--heading-font-weight);
	font-size: var(--font-size-md);
}

.pm-userstats__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	padding: 2px 0;
}

.pm-userstats__item:last-child {
	margin-bottom: calc(var(--spacing-xxxs) * -1);
	padding-bottom: 0;
}

.pm-userstats__item:not(:last-child) {
	border-bottom: var(--border);
}

.pm-userstats__label {
	font-size: var(--font-size-xs);
	/* text-transform: uppercase; */
}

.pm-userstats__value {
	font-size: var(--font-size-sm);
}

/***********************************************
 * Plugins
 */

body {
	p.rcp_error,
	p.rcp_success {
		position: relative;
		margin: var(--spacing-xl) 0;
		padding: var(--spacing-xxs) var(--spacing-sm) var(--spacing-xxs) calc(var(--spacing-sm) + 8px);
		background: var(--color-alt);
		color: var(--color-body);
		/* border: 1px solid; */
		border: 0;
		border-radius: var(--border-radius);

		span {
			margin: 0 !important;
			padding: 0 !important;
		}
	}

	p.rcp_error::before,
	p.rcp_success::before {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 8px;

		content: "";
	}

	p.rcp_error::before {
		background: var(--color-danger);
	}

	p.rcp_success::before {
		background: var(--color-success);
	}
}

/* add custom class to Group to hide form totals for beat the bot free registration form */
.hide-rcp_registration_total .rcp_registration_total {
	display: none;
}

.rcp-table-wrapper {
	margin-inline: 0 !important; /* mostly for account overview mobile margin added by rcp */
}

.rcp-table {
	font-size: var(--font-size-sm);
}

/* Default form stuff. */
.rcp_form:not(.rcp_registration_form) {
	padding: 0 !important;
}

.rcp_form {
	input[type="email"],
	input[type="password"],
	input[type="text"] {
		margin: var(--input-margin, 0) !important;
		padding: var(--input-padding, .9em) !important;
		color: var(--input-color, var(--color-body)) !important;
		border-bottom-width: 2px !important;
	}

	div:not(.pm-rcp-payment):has(> input:not([type=checkbox]):not([type=hidden]), select, #rcp-card-element),
	p:has(> input:not([type=checkbox]):not([type=hidden]), select) {
		margin-bottom: var(--spacing-md);

		label {
			margin-bottom: var(--spacing-xxxxs);
		}
	}
}

/* Registration form shortcode. */
#rcp_registration_form {
	background-color: var(--color-alt);
	border: var(--border);
	border-radius: 12px;

	input[type="email"],
	input[type="password"],
	input[type="text"] {
		width: 100%;
	}
}

#rcp_registration_form:not(:has(.pm-rcp-membership)) {
	padding: var(--spacing-xl);
}

@media only screen and (max-width: 599px) {

	#rcp_registration_form:has(.pm-rcp-membership) {
		margin-inline: calc(var(--side-spacing) * -1);
	}
}

@media only screen and (max-width: 799px) {

	#rcp_registration_form:has(.pm-rcp-membership) {
		display: grid;
		gap: var(--spacing-xxl);
		padding: var(--spacing-xl);
	}
}

@media only screen and (min-width: 800px) {

	#rcp_registration_form:has(.pm-rcp-membership) {
		display: flex;
		flex-wrap: wrap;
		gap: 0;
		padding: 0;

		> div {
			padding-block: var(--spacing-xl);
		}

		> div + div:not(.pm-rcp-order) {
			margin-top: calc(var(--spacing-xl) * -1);
		}

		> div:first-child {
			border-top-left-radius: 12px;
			border-top-right-radius: 12px;
		}

		> div:last-child {
			border-bottom-left-radius: 12px;
			border-bottom-right-radius: 12px;
		}

		.pm-rcp-membership,
		.pm-rcp-account,
		.pm-rcp-payment,
		.pm-rcp-checkboxes {
			/* grid-column-start: 1; */
			width: 100%;
			max-width: calc(100% - 300px);
			padding-inline: var(--spacing-lg);
			background-color: var(--color-white);
			border-right: var(--border);
		}

		.pm-rcp-membership {
			order: 1;
		}

		.pm-rcp-order {
			/* grid-column-start: 2; */
			/* grid-row: 1/all; */
			position: sticky;
			top: var(--body-top);
			order: 2;
			max-width: 300px;
			padding: var(--spacing-xl) var(--spacing-lg);
			background-color: var(--color-alt);
			border-radius: 0 12px 12px 0;
		}

		.pm-rcp-account {
			order: 3;
		}

		.pm-rcp-payment {
			order: 4;
		}
	}
}

#rcp_registration_form {
	.rcp_subscription_levels,
	.rcp_subscription_levels li {
		margin: 0;
	}

	.rcp_subscription_levels.pm-levels-list {
		display: grid;

		.rcp_subscription_label {
			display: grid;
			gap: var(--spacing-xs) var(--spacing-md);
			grid-template-columns: auto 1fr auto;
			align-items: center;
			padding: var(--spacing-lg);
			border: var(--border);
			border-width: 1px 0;
			transition: var(--transition);
		}

		.rcp_subscription_level:first-child .rcp_subscription_label {
			border-top-width: 1px;
		}

		.rcp_subscription_level_name {
			margin-bottom: 0;
		}

		.rcp_level_description {
			grid-column: 2/4;
		}

		.pm-rcp-checkmark {
			margin-left: auto;
			width: 24px;
			height: 24px;
			border-radius: 100vw;
		}

		.rcp_level:not(:checked) + label {
			background-color: white;
		}

		.rcp_level:checked + label {
			color: white;
			background: var(--background-gradient-dark);
			border-bottom: 4px solid var(--color-primary);
			border-radius: 6px;
		}

		.rcp_level:not(:checked) + label > .pm-rcp-checkmark.checked,
		.rcp_level:checked + label > .pm-rcp-checkmark.unchecked {
			display: none;
		}

		.rcp_level:checked + label > .pm-rcp-checkmark {
			fill: currentColor;
		}

		.rcp_level {
			position: absolute !important;
			clip: rect(0, 0, 0, 0);
			height: 1px;
			width: 1px;
			border: 0;
			overflow: hidden;
		}
	}

	/* Hide voting for now. */
	.rcp_subscription_level_13 {
		display: none;
	}

	.rcp_subscription_label {
		margin: 0;
	}

	.rcp_subscription_level_name {
		display: block;
		font-family: var(--font-family-heading);
		font-weight: var(--heading-font-weight);
		font-size: var(--font-size-md);
	}

	.rcp_level_duration {
		text-transform: lowercase;
	}

	.rcp_level_duration::before {
		content: " / ";
	}

	.rcp_level_description {
		display: block;
		padding: 0;
		border: 0;
		font-size: var(--font-size-sm);
		font-weight: var(--body-font-weight);
	}

	.rcp_level {
		position: absolute !important;
		clip: rect(0, 0, 0, 0);
		height: 1px;
		width: 1px;
		border: 0;
		overflow: hidden;
	}

	.rcp_user_fieldset label::after {
		display: inline-block;
		margin-left: var(--spacing-xxxs);
		font-size: var(--font-size-xs);
		color: red;
		content: "(required)";
	}

	#rcp_user_pass_requirements {
		font-size: var(--font-size-xs) !important;
	}

	#rcp_discount_code_wrap {
		margin: calc(var(--spacing-xs) * -1) 0 var(--spacing-md) !important;
	}

	.rcp_discount_code_field_wrap {
		display: grid;
		grid-template-columns: 1fr auto;

		> input {
			border-right: 0;
		}
	}

	.rcp_registration_total_details.rcp-table {
		display: grid;
		width: 100%;
		margin: 0;
		font-size: var(--font-size-xs);
		border: 0;

		tbody {
			border-bottom: 2px solid rgba(0, 0, 0, 0.05);
		}

		tr {
			width: 100%;
			margin: 0;
			padding: var(--spacing-xxs) 0;
			border: 0;
		}

		tr:not(:last-child) {
			border-bottom: 2px solid rgba(0, 0, 0, 0.05);
		}

		td {
			margin: 0;
			padding: 0;
			border: 0;
		}

		td[data-th]:last-child {
			font-weight: var(--body-font-weight-bold);
			text-align: end;
		}
	}

	.rcp_gateway_fields:has([type="hidden"]:first-child):has([type="hidden"]:last-child) {
		display: none !important;
	}

	.rcp_card_fieldset {
		display: grid;
		gap: var(--spacing-md);

		#rcp_card_name_wrap,
		#rcp_card_wrap {
			margin: 0;
		}
	}

	.pm-rcp-checkboxes__inner {
		display: grid;
		gap: var(--spacing-sm);
	}

	.pm-rcp-checkboxes p,
	.pm-rcp-checkboxes label {
		margin: 0;
	}

	#rcp_auto_renew_wrap {
		margin-bottom: 0 !important;
	}

	#rcp_submit_wrap {
		margin: var(--spacing-md) 0 0 !important;
		text-align: center;

		#rcp_submit {
			width: 100%;
		}
	}
}

.rcp-table-wrapper {

	#rcp-account-overview,
	#rcp-payment-history {
		margin-bottom: var(--spacing-xl);
	}

	#rcp-account-overview th,
	#rcp-payment-history th,
	#rcp-account-overview td,
	#rcp-payment-history td {
		margin: 0;
		vertical-align: middle;
	}
}

#rcp_profile_editor_form {
	display: grid;
	gap: var(--spacing-xl);
}

@keyframes pmSpin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes pmFadeInUp {
	0% {
		opacity: 0;
		bottom: calc(100% - var(--spacing-xs));
	}
	100% {
		opacity: 1;
		bottom: calc(100% - var(--spacing-xxxxs));
	}
}

@keyframes pmFadeInDown {
	0% {
		opacity: 0;
		top: calc(100% - var(--spacing-xs));
	}
	100% {
		opacity: 1;
		top: calc(100% - var(--spacing-xxxxs));
	}
}
